.d-header {
    box-shadow: none !important;
}

#list-area .contents a.title:visited {
    color: var(--tertiary) !important;
}

.header-sidebar-toggle button {
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--primary-500) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn.btn-text.btn-link {
    border: none !important;
    box-shadow: none;
}

.btn.btn-sidebar-toggle:not(.bulk-select,.sidebar-section-header),
.d-header .icons>li,
.d-header .icons>li:first-of-type,
.d-header .icons>li:last-of-type button,
.d-header .icons .icon {
    border: none !important;
    box-shadow: none;
    color: var(--primary-high);
}

html:not(.mobile-view) body.algolia-enabled .algolia-holder {
    margin-left: .5em;
}

#toggle-current-user {
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--primary-500) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: var(--secondary);
}


/*
.d-header .icons>li:first-of-type {
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--primary-500);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
    
.d-header .icons>li:last-of-type {
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--primary-500);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
*/

.list-controls .btn.no-text.btn-icon,
.btn.btn-default,
.btn.btn-primary {
    background: var(--primary-low-mid) !important;
    color: var(--secondary) !important;
    text-shadow: none !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: 1px solid var(--primary-medium) !important;
    line-height: var(--line-height-medium) !important;
    /* height: 100%; */
}

.has-sidebar-page .sidebar-wrapper,
#list-area .contents,
.topic-body {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: none !important;
}

.sidebar-wrapper .sidebar-container,
#post_1 .topic-body {
    border: none !important;
}

.has-sidebar-page .sidebar-wrapper .sidebar-section-wrapper .sidebar-section-header-wrapper .sidebar-section-header-button {
    border-radius: 5px !important;
    border: 1px solid var(--primary-500) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.topic-map__contents {
    padding-block: 0 1em !important;
    padding-left: 20px !important;
    flex-grow: 1 !important;
}

.topic-map__contents .topic-map__stats .fk-d-menu__trigger {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    background: rgba(0, 0, 0, 0) !important;
    min-width: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.post-menu-area {
    margin-bottom: 0 !important;
    border-top: none !important;
    opacity: .7 !important;
    transition: opacity .7s !important;
}

.post-menu-area .actions button.reply {
    margin-left: 0 !important;
    /* background: none !important; */
}

.topic-owner .post-menu-area .actions button.reply {
    border-radius: 5px 0 0 0;
}

nav.post-controls .show-replies {
    display: flex !important;
    align-items: center !important;
    margin-left: 0 !important;
    white-space: nowrap !important;
    border-radius: 5px 5px 0 0 !important;
    background: var(--primary-low) !important;
    color: var(--primary-high) !important;
    border: 1px solid var(--primary-300);
}

nav.post-controls .show-replies {
    display: flex !important;
    align-items: center !important;
    margin-left: 0 !important;
    white-space: nowrap !important;
    border-radius: 5px 5px 0 0 !important;
    background: var(--primary-low) !important;
    color: var(--primary-high) !important;
    border: none !important;
}

.embedded-posts {
    padding: 20px 0 !important;
    background: none !important;
    border: none !important;
}

.embedded-posts.bottom {
    margin-bottom: 30px !important;
    margin-left: 10px !important;
    border-radius: 0 0 0 5px !important;
}

nav.post-controls .show-replies[aria-expanded=true]:hover,
nav.post-controls .show-replies[aria-expanded=true]:focus {
    background: var(--primary-300) !important;
    color: var(--primary) !important;
    /* border: none !important; */
}

.embedded-posts .topic-body:before {
    content: "" !important;
    width: 0 !important;
    height: 0 !important;
    position: absolute !important;
    left: -12px !important;
    top: 27px !important;
    border-top: 12px solid rgba(0, 0, 0, 0) !important;
    border-bottom: 12px solid rgba(0, 0, 0, 0) !important;
    border-right: 12px solid var(--primary-low) !important;

}

.embedded-posts .topic-body {
    overflow: visible;
    width: calc(100% - 120px) !important;
    /* padding: 5px 25px 0 15px !important; */
    background: var(--primary-low) !important;
    border: 1px solid var(--primary-300) !important;
}

.embedded-posts.bottom .collapse-up {
    transform: translate(-50%, -164%) !important;
    background: var(--primary-low) !important;
    color: var(--primary-high) !important;
    border: 1px solid var(--primary-300) !important;
    padding: 6px !important;
    left: 32px !important;
    bottom: -2em !important;
    z-index: 1 !important;
}

.boxed.white {
    padding: 10px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.nav-pills>li.active>a,
.nav-pills>li>a.active,
.admin-controls .nav-pills>li a.active,
.boxed.white .nav-pills>li.active>a,
.boxed.white .nav-pills>li>a.active {
    border-radius: 5px !important;
    /* color: var(--secondary) !important; */
    text-shadow: none !important;
    /* box-shadow: inset 0 1px 2px rgba(255, 255, 255, .25), inset 0 -1px 2px rgba(0, 0, 0, .25) !important; */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border: 1px solid var(--quaternary) !important;
    background: var(--secondary) !important;
}

#reply-control .d-editor-button-bar {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(1.75em, 1fr)) !important;
    margin: 0 !important;
    border-bottom: none !important;
    height: min-content !important;
    padding: 5px !important;
}

#reply-control .d-editor-button-bar .btn {
    min-width: 24px !important;
    height: 28px !important;
    border-color: var(--primary-high) !important;
    margin: 0 2px !important;
}

.d-editor-button-bar button.btn.no-text.btn-icon,
#reply-control .d-editor-button-bar .toolbar-popup-menu-options .btn.select-kit-header {
    border: none !important;
    padding: 0 !important;
}

/*
div.composer-controls button.btn.no-text.btn-icon.btn-transparent.toggle-fullscreen.btn-mini-toggle,
div.composer-controls button.btn.no-text.btn-icon.btn-transparent.toggle-fullscreen.btn-mini-toggle:hover {
    color: var(--tertiary) !important;
}
*/

#reply-control .btn-mini-toggle,
#reply-control .btn-mini-toggle:hover {
    color: var(--tertiary) !important;
}

.post-menu-area nav.post-controls .show-replies {
    margin-left: 0 !important;
    height: 42px !important;
    display: block !important;
}
